/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/UserSettings/
/Builds/
/TestResults/
/.local/
/.vs/
/.idea/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.ulf
*.alf
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
